*{
    margin: 0px;
    padding: 0px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url(references/Wall.jpg);
    background-size: cover;
}

.container .card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 50%;
    border: 3px solid black;    
    flex-direction: column;
    justify-content: space-evenly;
}

.container .card h1 {
    display: flex;
    text-align: center;
    width: fit-content;
}

.container .card input {
    height: 37px;
    width: 170px;
}

.container .card button {
    display: flex;
    height: 50px;
    width: 120px;
    text-align: center;
    justify-content: center;
    background-color: white;
}

.container .card button:hover {
    display: flex;
    border: 3px solid black;
}

.container .card ul {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.container .card li {
    display: flex;
    width: 100%;
    justify-content: space-around;

}

.block {
    background-image: url(references/Coração_Gif.gif);
    display: none;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    position: absolute;
    bottom: 100px;
    left: 60px;
}
